@font-face {
  font-family: 'Bigilla';
  src: url('/fonts/Bigilla.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Bigilla Bold';
  src: url('/fonts/Bigilla-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('/fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

body {
  font-family: Montserrat, serif;
}
