@use '_typography';
@use '_mixins';
@use 'reset';
@use 'variables';

body {
  background-color: var(--color-primary);
}

//selection color
*::selection {
  background-color: red;

  //test media
  @include mixins.media('m') {
    background-color: green;
  }
}

//loading state
body.loading {
  overflow: hidden;
  height: 100vh;
}
