@media (prefers-color-scheme: light) {
  :root {
    --color-primary: hsla(30, 29%, 95%, 1);
    --color-text-primary: hsla(37, 10%, 16%, 1);
    --color-text-secondary: hsla(0, 0%, 26%, 1);
  }
}

[data-theme='light'] {
  --color-primary: hsla(30, 29%, 95%, 1);
  --color-text-primary: hsla(37, 10%, 16%, 1);
  --color-text-secondary: hsla(0, 0%, 26%, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: hsla(0, 0%, 11%, 1);
    --color-text-primary: hsla(0, 0%, 95%, 1);
    --color-text-secondary: hsla(0, 0%, 100%, 1);
  }
}

[data-theme='dark'] {
  --color-primary: hsla(30, 29%, 95%, 1);
  --color-text-primary: hsla(37, 10%, 16%, 1);
  --color-text-secondary: hsla(0, 0%, 26%, 1);
}
