.about {
  padding: 0 5rem;
  height: 100vh;

  .container {
    padding: 10rem 0;
  }
  .paragraph {
    font-family: Montserrat, serif;
    font-size: 10vh;
    color: var(--color-text-primary);
  }
}
